<html>
  <body>
    <form ref='uploadForm' id='uploadForm' action='/api/upload' method='post' encType="multipart/form-data">
      <input type="file" name="file_avatar" />
      <input type='submit' value='Upload!' />
    </form>
    <br>
    <img src="/images/special.png" alt="Smiley face">
  </body>
</html>